[submodule "projects/Quill-mathLive-blot"]
	path = projects/Quill-mathLive-blot
	url = https://github.com/JonathanTreffler/Quill-mathLive-blot
[submodule "projects/JonathanTreffler.github.io"]
	path = projects/JonathanTreffler.github.io
	url = https://github.com/JonathanTreffler/JonathanTreffler.github.io
[submodule "projects/vuejs-quill"]
	path = projects/vuejs-quill
	url = https://github.com/JonathanTreffler/vuejs-quill
[submodule "projects/modern-vue-gallery"]
	path = projects/modern-vue-gallery
	url = https://github.com/JonathanTreffler/modern-vue-gallery
[submodule "projects/canvas2image-2"]
	path = projects/canvas2image-2
	url = https://github.com/JonathanTreffler/canvas2image-2
[submodule "projects/Quill-mathQuill-blot"]
	path = projects/Quill-mathQuill-blot
	url = https://github.com/JonathanTreffler/Quill-mathQuill-blot
[submodule "projects/hacs-websocket-service"]
	path = projects/hacs-websocket-service
	url = https://github.com/JonathanTreffler/hacs-websocket-service
[submodule "projects/kdenlive-vnc-docker"]
	path = projects/kdenlive-vnc-docker
	url = https://github.com/JonathanTreffler/kdenlive-vnc-docker
[submodule "projects/Home-Assistant-remote-cec"]
	path = projects/Home-Assistant-remote-cec
	url = https://github.com/JonathanTreffler/Home-Assistant-remote-cec
[submodule "projects/physiksimulator"]
	path = projects/physiksimulator
	url = https://github.com/JonathanTreffler/physiksimulator
[submodule "projects/Nextcloud-Uploads-List"]
	path = projects/Nextcloud-Uploads-List
	url = https://github.com/JonathanTreffler/Nextcloud-Uploads-List
[submodule "projects/Wann-tritt-Scheuer-zurueck"]
	path = projects/Wann-tritt-Scheuer-zurueck
	url = https://github.com/JonathanTreffler/Wann-tritt-Scheuer-zurueck
[submodule "projects/unraid-docker-templates"]
	path = projects/unraid-docker-templates
	url = https://github.com/JonathanTreffler/unraid-docker-templates
[submodule "projects/my-vue-eslintrc"]
	path = projects/my-vue-eslintrc
	url = https://github.com/JonathanTreffler/my-vue-eslintrc
[submodule "projects/vue-drag-resize"]
	path = projects/vue-drag-resize
	url = https://github.com/JonathanTreffler/vue-drag-resize
[submodule "projects/bandwidth-hero-docker"]
	path = projects/bandwidth-hero-docker
	url = https://github.com/JonathanTreffler/bandwidth-hero-docker
[submodule "projects/jugendwort-vote"]
	path = projects/jugendwort-vote
	url = https://github.com/JonathanTreffler/jugendwort-vote
[submodule "projects/BWINF-37"]
	path = projects/BWINF-37
	url = https://github.com/JonathanTreffler/BWINF-37
[submodule "projects/lets_git_week_4_homework"]
	path = projects/lets_git_week_4_homework
	url = https://github.com/JonathanTreffler/lets_git_week_4_homework
[submodule "projects/quantum-computing-jufo-2019.github.io"]
	path = projects/quantum-computing-jufo-2019.github.io
	url = https://github.com/Quantum-Computing-Jufo-2019/quantum-computing-jufo-2019.github.io
[submodule "projects/quantum-computer-GUI"]
	path = projects/quantum-computer-GUI
	url = https://github.com/Quantum-Computing-Jufo-2019/quantum-computer-GUI
[submodule "projects/notes-core"]
	path = projects/notes-core
	url = https://github.com/fractava/notes-core
[submodule "projects/notes-desktop"]
	path = projects/notes-desktop
	url = https://github.com/fractava/notes-desktop
[submodule "projects/fractava.com"]
	path = projects/fractava.com
	url = https://github.com/fractava/fractava.com
[submodule "projects/notes-docs"]
	path = projects/notes-docs
	url = https://github.com/fractava/notes-docs
[submodule "projects/King-of-Planets"]
	path = projects/King-of-Planets
	url = https://github.com/fractava/King-of-Planets
[submodule "projects/King-of-Planets-Server"]
	path = projects/King-of-Planets-Server
	url = https://github.com/fractava/King-of-Planets-Server
[submodule "projects/King-of-Planets-shared"]
	path = projects/King-of-Planets-shared
	url = https://github.com/fractava/King-of-Planets-shared
[submodule "projects/chickomat.github.io"]
	path = projects/chickomat.github.io
	url = https://github.com/chickomat/chickomat.github.io
[submodule "projects/raspberry-control-software"]
	path = projects/raspberry-control-software
	url = https://github.com/chickomat/raspberry-control-software
[submodule "projects/arduino-control-software"]
	path = projects/arduino-control-software
	url = https://github.com/chickomat/arduino-control-software
[submodule "projects/biblio"]
	path = projects/biblio
	url = https://github.com/fractava/biblio
[submodule "projects/ants-simulator"]
	path = projects/ants-simulator
	url = https://github.com/jufo-ameisen-2019/ants-simulator
[submodule "projects/full-website-screenshot-action"]
	path = projects/full-website-screenshot-action
	url = https://github.com/JonathanTreffler/full-website-screenshot-action
[submodule "projects/covid-simulation"]
	path = projects/covid-simulation
	url = https://github.com/JonathanTreffler/covid-simulation
[submodule "projects/BWINF-39-1-Aufgabe-3"]
	path = projects/BWINF-39-1-Aufgabe-3
	url = https://github.com/JonathanTreffler/BWINF-39-1-Aufgabe-3
[submodule "projects/Wegkosten-Rekursion"]
	path = projects/Wegkosten-Rekursion
	url = https://github.com/JonathanTreffler/Wegkosten-Rekursion
[submodule "projects/Rucksackproblem"]
	path = projects/Rucksackproblem
	url = https://github.com/JonathanTreffler/Rucksackproblem
[submodule "projects/algorithmik-kurs.github.io"]
	path = projects/algorithmik-kurs.github.io
	url = https://github.com/algorithmik-kurs/algorithmik-kurs.github.io
[submodule "projects/covid-simulation-javascript-template"]
	path = projects/covid-simulation-javascript-template
	url = https://github.com/algorithmik-kurs/covid-simulation-javascript-template
[submodule "projects/my-vue-stylelintrc"]
	path = projects/my-vue-stylelintrc
	url = https://github.com/JonathanTreffler/my-vue-stylelintrc
[submodule "projects/Programmierung_Uebungsblatt_2_Aufgabe_3"]
	path = projects/Programmierung_Uebungsblatt_2_Aufgabe_3
	url = https://github.com/Programmierung-Nils-Jonathan/Programmierung_Uebungsblatt_2_Aufgabe_3
[submodule "projects/Programmierung_Uebungsblatt_3_Aufgabe_3"]
	path = projects/Programmierung_Uebungsblatt_3_Aufgabe_3
	url = https://github.com/Programmierung-Nils-Jonathan/Programmierung_Uebungsblatt_3_Aufgabe_3
[submodule "projects/Programmierung_Uebungsblatt_4_Aufgabe_3_5"]
	path = projects/Programmierung_Uebungsblatt_4_Aufgabe_3_5
	url = https://github.com/Programmierung-Nils-Jonathan/Programmierung_Uebungsblatt_4_Aufgabe_3_5
[submodule "projects/Programmierung_Uebungsblatt_5_Aufgabe_7"]
	path = projects/Programmierung_Uebungsblatt_5_Aufgabe_7
	url = https://github.com/Programmierung-Nils-Jonathan/Programmierung_Uebungsblatt_5_Aufgabe_7
[submodule "projects/Programmierung_Uebungsblatt_6_Aufgabe_3"]
	path = projects/Programmierung_Uebungsblatt_6_Aufgabe_3
	url = https://github.com/Programmierung-Nils-Jonathan/Programmierung_Uebungsblatt_6_Aufgabe_3
[submodule "projects/Template"]
	path = projects/Template
	url = https://github.com/Programmierung-Nils-Jonathan/Template
[submodule "projects/nextcloud-app-gitpod"]
	path = projects/nextcloud-app-gitpod
	url = https://github.com/JonathanTreffler/nextcloud-app-gitpod
[submodule "projects/Programmierung_Uebungsblatt_7_Aufgabe_7"]
	path = projects/Programmierung_Uebungsblatt_7_Aufgabe_7
	url = https://github.com/Programmierung-Nils-Jonathan/Programmierung_Uebungsblatt_7_Aufgabe_7
[submodule "projects/Programmierung_Uebungsblatt_8_Aufgabe_4"]
	path = projects/Programmierung_Uebungsblatt_8_Aufgabe_4
	url = https://github.com/Programmierung-Nils-Jonathan/Programmierung_Uebungsblatt_8_Aufgabe_4
[submodule "projects/Programmierung_Uebungsblatt_9_Aufgabe_9"]
	path = projects/Programmierung_Uebungsblatt_9_Aufgabe_9
	url = https://github.com/Programmierung-Nils-Jonathan/Programmierung_Uebungsblatt_9_Aufgabe_9
[submodule "projects/Haskell-Template"]
	path = projects/Haskell-Template
	url = https://github.com/Programmierung-Nils-Jonathan/Haskell-Template
[submodule "projects/Abgabe-Action"]
	path = projects/Abgabe-Action
	url = https://github.com/Programmierung-Nils-Jonathan/Abgabe-Action
[submodule "projects/Programmierung_Uebungsblatt_10_Aufgabe_4"]
	path = projects/Programmierung_Uebungsblatt_10_Aufgabe_4
	url = https://github.com/Programmierung-Nils-Jonathan/Programmierung_Uebungsblatt_10_Aufgabe_4
[submodule "projects/nc_ext_dav_push"]
	path = projects/nc_ext_dav_push
	url = https://github.com/bitfireAT/nc_ext_dav_push
[submodule "projects/organization_folders"]
	path = projects/organization_folders
	url = https://github.com/verdigado/organization_folders
[submodule "projects/groupfolder_tags"]
	path = projects/groupfolder_tags
	url = https://github.com/verdigado/groupfolder_tags
