[submodule "Quill-mathLive-blot"]
	path = projects/Quill-mathLive-blot
	url = https://github.com/JonathanTreffler/Quill-mathLive-blot
[submodule "JonathanTreffler.github.io"]
	path = projects/JonathanTreffler.github.io
	url = https://github.com/JonathanTreffler/JonathanTreffler.github.io
[submodule "vuejs-quill"]
	path = projects/vuejs-quill
	url = https://github.com/JonathanTreffler/vuejs-quill
[submodule "modern-vue-gallery"]
	path = projects/modern-vue-gallery
	url = https://github.com/JonathanTreffler/modern-vue-gallery
[submodule "canvas2image-2"]
	path = projects/canvas2image-2
	url = https://github.com/JonathanTreffler/canvas2image-2
[submodule "Quill-mathQuill-blot"]
	path = projects/Quill-mathQuill-blot
	url = https://github.com/JonathanTreffler/Quill-mathQuill-blot
[submodule "hacs-websocket-service"]
	path = projects/hacs-websocket-service
	url = https://github.com/JonathanTreffler/hacs-websocket-service
[submodule "kdenlive-vnc-docker"]
	path = projects/kdenlive-vnc-docker
	url = https://github.com/JonathanTreffler/kdenlive-vnc-docker
[submodule "Home-Assistant-remote-cec"]
	path = projects/Home-Assistant-remote-cec
	url = https://github.com/JonathanTreffler/Home-Assistant-remote-cec
[submodule "physiksimulator"]
	path = projects/physiksimulator
	url = https://github.com/JonathanTreffler/physiksimulator
[submodule "Nextcloud-Uploads-List"]
	path = projects/Nextcloud-Uploads-List
	url = https://github.com/JonathanTreffler/Nextcloud-Uploads-List
[submodule "Wann-tritt-Scheuer-zurueck"]
	path = projects/Wann-tritt-Scheuer-zurueck
	url = https://github.com/JonathanTreffler/Wann-tritt-Scheuer-zurueck
[submodule "unraid-docker-templates"]
	path = projects/unraid-docker-templates
	url = https://github.com/JonathanTreffler/unraid-docker-templates
[submodule "my-vue-eslintrc"]
	path = projects/my-vue-eslintrc
	url = https://github.com/JonathanTreffler/my-vue-eslintrc
[submodule "vue-drag-resize"]
	path = projects/vue-drag-resize
	url = https://github.com/JonathanTreffler/vue-drag-resize
[submodule "bandwidth-hero-docker"]
	path = projects/bandwidth-hero-docker
	url = https://github.com/JonathanTreffler/bandwidth-hero-docker
[submodule "jugendwort-vote"]
	path = projects/jugendwort-vote
	url = https://github.com/JonathanTreffler/jugendwort-vote
[submodule "BWINF-37"]
	path = projects/BWINF-37
	url = https://github.com/JonathanTreffler/BWINF-37
[submodule "lets_git_week_4_homework"]
	path = projects/lets_git_week_4_homework
	url = https://github.com/JonathanTreffler/lets_git_week_4_homework
[submodule "quantum-computing-jufo-2019.github.io"]
	path = projects/quantum-computing-jufo-2019.github.io
	url = https://github.com/Quantum-Computing-Jufo-2019/quantum-computing-jufo-2019.github.io
[submodule "quantum-computer-GUI"]
	path = projects/quantum-computer-GUI
	url = https://github.com/Quantum-Computing-Jufo-2019/quantum-computer-GUI
[submodule "notes-core"]
	path = projects/notes-core
	url = https://github.com/fractava/notes-core
[submodule "notes-desktop"]
	path = projects/notes-desktop
	url = https://github.com/fractava/notes-desktop
[submodule "fractava.com"]
	path = projects/fractava.com
	url = https://github.com/fractava/fractava.com
[submodule "notes-docs"]
	path = projects/notes-docs
	url = https://github.com/fractava/notes-docs
[submodule "King-of-Planets"]
	path = projects/King-of-Planets
	url = https://github.com/fractava/King-of-Planets
[submodule "King-of-Planets-Server"]
	path = projects/King-of-Planets-Server
	url = https://github.com/fractava/King-of-Planets-Server
[submodule "King-of-Planets-shared"]
	path = projects/King-of-Planets-shared
	url = https://github.com/fractava/King-of-Planets-shared
[submodule "chickomat.github.io"]
	path = projects/chickomat.github.io
	url = https://github.com/chickomat/chickomat.github.io
[submodule "raspberry-control-software"]
	path = projects/raspberry-control-software
	url = https://github.com/chickomat/raspberry-control-software
[submodule "arduino-control-software"]
	path = projects/arduino-control-software
	url = https://github.com/chickomat/arduino-control-software
[submodule "biblio"]
	path = projects/biblio
	url = https://github.com/fractava/biblio
[submodule "ants-simulator"]
	path = projects/ants-simulator
	url = https://github.com/jufo-ameisen-2019/ants-simulator
