name: README Update
concurrency: readme

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 */6 * * *'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/readme_update.yml'
      - 'action_time/**'
      - 'scc/**'
      - 'projects/**'

jobs:
  readme_update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'
      - name: Set up git
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "Github Actions"
          git config pull.rebase false
          git pull
          git submodule update --recursive --remote
      
      - uses: actions/setup-go@v4
        with:
          go-version: '^1.13.1'
      
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
            
      - name: SCC install
        run: go install github.com/boyter/scc@latest
      
      - name: SCC
        run: scc ./projects/ --include-ext vue,js,py,pde,css,sh,html,php,ts,cpp,json,xml,md,h,java,bat,yml,yaml,hs --not-match .*\package-lock.json$ > scc.txt
      
      - name: SCC html
        run: scc ./projects/ --include-ext vue,js,py,pde,css,sh,html,php,ts,cpp,json,xml,md,h,java,bat,yml,yaml,hs -f html-table --not-match .*\package-lock.json$ > scc.html
      
      - name: README scc update
        run: node scc.js
        working-directory: scc
        
      - name: Install action_time dependencies
        run: npm ci
        working-directory: action_time

      - name: README action_time update
        run: node action_time.js
        working-directory: action_time
        env:
          BOT_GITHUB_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}
      
      - name: Delete temporary files
        run: rm scc.html
      
      - name: Commit files
        continue-on-error: true
        run: |
          git pull
          git add -A
          git commit -m "Updated Readme" -a

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
